ul li {
    list-style-type: none;
}

.nav {
    background: black;
    height: 80px;
    color: white;

    position: relative;

}

.nav_left {
    display: inline-block;
    float: left;
    width: 50%;

    height: 50%;
    overflow: auto;
    margin: auto;
    margin-left: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.nav_left_img {
    margin-left: 10px;
    display: inline-block;
    float: left;
    width:40px;
    height:40px;
    margin-right: 10px;

}

.nav_left ul li a{
    color: white;
    text-decoration: none;
}

.nav_right {
    display: inline-block;
    width: 50%;

    height: 50%;
    overflow: auto;
    margin: auto;
    margin-right: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.nav_right_content {
    text-align: right;
}

.nav_right ul li {
    display: inline-block;
    margin: 0 20px 0 20px;
}

.nav_right ul li a {
    text-decoration: none;
    color: white;
}

.left_div {
    display: inline-block;
    float: left;
    width: 10%;
    background: gainsboro;
}

.left_div a {
    color: black;
    text-decoration: none;
}

.left_div li {
    padding-top: 10px;
}

.right_div {
    display: inline-block;
    width: 90%;
}

.content_div {
    padding: 30px 0 0 20px;
}

.text_div {
    display: inline-block;
    float: left;
    width: 50%;

}

.img_div {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.footer_class {
    width: 100%;
    height: 50px;
    background-color: black;
    font-size: 15px;
    display: table;
}

.footer_content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}
