.input-group{
    margin: 20px 0 20px 0;
}

.submit-button{
    color: #292b2c;
    background-color: #ccc;
    border-radius: 4px;
    width: 80px;
    height: 40px;
}
.input-group input{
    width: 40px;
}

.err_msg{
    color: red;
}
.success_msg{
    color: red;
    visibility: hidden;
}